.vscode/
db.sqlite3
settings.cnf
.DS_Store
test.py
test2.py
test3.py
back-end/__pycache__/
front-end/api/__pycache__/
front-end/api/migrations/__pycache__/
front-end/dashboard/__pycache__/
front-end/pages/__pycache__/
front-end/pages/migrations/__pycache__/
staticfiles/
media/
uwsgi_params
readme.md