{% extends 'base.html' %}
{% load static %}


{% block content %}
<!-- Additional CSS-->
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">

<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-1 mr-0" href="#">SteemChain</a>
</nav>

<div class="container-fluid">
  <div class="row">
    <nav class="col-md-1 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a id="votes" class="nav-link" href="/votes">
              <span data-feather="home"></span>
              Votes <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a id="transfers" class="nav-link" href="/transfers">
              <span data-feather="file"></span>
              Transfers
            </a>
          </li>
          <li class="nav-item">
            <a id="claim_rewards" class="nav-link" href="/claim_rewards">
              <span data-feather="shopping-cart"></span>
              Claim rewards
            </a>
          </li>
        </ul>

        <!--
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Saved reports</span>
          <a class="d-flex align-items-center text-muted" href="#">
            <span data-feather="plus-circle"></span>
          </a>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Current month
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Last quarter
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Social engagement
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Year-end sale
            </a>
          </li>
        </ul>
        -->
      </div>
    </nav>

    <main role="main" class="col-md-10 ml-sm-auto col-lg-11 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Chart</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group mr-2">
              <button id="1H" type="button" class="btn btn-sm btn-outline-secondary">1H</button>
              <button id="12H" type="button" class="btn btn-sm btn-outline-secondary">12H</button>
              <button id="24H" type="button" class="btn btn-sm btn-outline-secondary">24H</button>
              <button id="7D" type="button" class="btn btn-sm btn-outline-secondary">7D</button>
              <button id="30D" type="button" class="btn btn-sm btn-outline-secondary">30D</button>
              <button id="ALL" type="button" class="btn btn-sm btn-outline-secondary">ALL</button>
            </div>
          <div class="btn-group mr-2">
            <button id="minute" type="button" class="btn btn-sm btn-outline-secondary">Minute</button>
            <button id="hour" type="button" class="btn btn-sm btn-outline-secondary">Hour</button>
            <button id="day" type="button" class="btn btn-sm btn-outline-secondary">Day</button>
          </div>
          <!--
          <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <span data-feather="calendar"></span>
            This week
          </button>
          -->
        </div>
      </div>

      <script>
        $(document).ready(function(){
          set_cookies();
          active_graph();
        });
      </script>

      {% block stats %}
      {% endblock stats %}

      <div class="container">
          <div class="row justify-content-center">
              <div class="col-sm-3">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Current block</h5>
                    <p id="block_num" class="card-text"></p>
                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Operations 24H</h5>
                    <p id="operations" class="card-text"></p>
                  </div>
                </div>
              </div>
              <!--
              <div class="col-sm-3">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Unique accounts 24H</h5>
                      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">30D Δ</h5>
                      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    </div>
                  </div>
                </div>
              -->
            </div>
      </div>


    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h2>Analysis</h2>
      <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group mr-2">
              <button id="voter" type="button" class="btn btn-sm btn-outline-secondary">Voter</button>
              <button id="author" type="button" class="btn btn-sm btn-outline-secondary">Author</button>
            </div>
        <div class="btn-group mr-2">
          <button id="table_day" type="button" class="btn btn-sm btn-outline-secondary">Day</button>
          <button id="table_week" type="button" class="btn btn-sm btn-outline-secondary">Week</button>
          <button id="table_month" type="button" class="btn btn-sm btn-outline-secondary">Month</button>
        </div>
      </div>
    </div>
      <div class="table-responsive">
        <table id="table1" class="table table-striped table-sm">
          <thead>
            <tr>
              <th>#</th>
              <th>Account</th>
              <th>Votes</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </main>
  </div>
</div>
{% endblock content %}